.venv/
.env
__pycache__/
*.pyc

grants.db
GrantMatch_Report.pdf

.streamlit/secrets.toml

.vscode/settings.json

app_old.py
embedding_test.py
grant_match_test.py
list_models.py
GrantMatch_Report.pdf

grants.db
GrantMatch_Report.pdf